In [16]:
import pandas as pd
df = pd.read_csv ('Data.csv')
print(df.info())
print(df.drop_duplicates(subset = ["GoogleID"]).info())
df =df.drop_duplicates(subset = ["GoogleID"])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GoogleID               173 non-null    object
 1   currently-occupied-by  173 non-null    int64
 2   name                   173 non-null    object
 3   address                173 non-null    object
 4   Sunday                 173 non-null    object
 5   Monday                 173 non-null    object
 6   Tuesday                173 non-null    object
 7   Wednesday              173 non-null    object
 8   Thursday               173 non-null    object
 9   Friday                 173 non-null    object
 10  Saturday               173 non-null    object
dtypes: int64(1), object(10)
memory usage: 15.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 168
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GoogleID               68 non-null     object
 1   currently-occupied-by  68 non-null     int64
 2   name                   68 non-null     object
 3   address                68 non-null     object
 4   Sunday                 68 non-null     object
 5   Monday                 68 non-null     object
 6   Tuesday                68 non-null     object
 7   Wednesday              68 non-null     object
 8   Thursday               68 non-null     object
 9   Friday                 68 non-null     object
 10  Saturday               68 non-null     object
dtypes: int64(1), object(10)
memory usage: 6.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 168
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GoogleID               68 non-null     object
 1   currently-occupied-by  68 non-null     int64
 2   name                   68 non-null     object
 3   address                68 non-null     object
 4   Sunday                 68 non-null     object
 5   Monday                 68 non-null     object
 6   Tuesday                68 non-null     object
 7   Wednesday              68 non-null     object
 8   Thursday               68 non-null     object
 9   Friday                 68 non-null     object
 10  Saturday               68 non-null     object
dtypes: int64(1), object(10)
memory usage: 6.4+ KB
None